ConnectionStrings__edu_connect_serviceDB=
Jwt__Key=
Jwt__Issuer=
Jwt__Audience=
Jwt__ExpirationMinutes=
AllowedOrigins=
AllowedHosts=
AdminUser__Email=
AdminUser__Password=
AdminUser__PasswordFase2=
Smtp__Host=
Smtp__Port=
Smtp__User=
Smtp__Password=
Smtp__EnableSsl=
Smtp__From=
Smtp__FromName=
S3__AWS_ACCESS_KEY_ID=
S3__AWS_SECRET_ACCESS_KEY=
S3__AWS_REGION=
S3__S3_BUCKET_NAME=